#index {
    #wrapper {
        #details {
            article {
                width: 95%;
                padding: 20px;
            }
            .images {
                width: 100%;
                ul {
                    li {
                        display: inline;
                        margin-right: 15px;
                        img {
                            width: 40%;
                        }
                    }
                }
            }
        }
    }
}